@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  font-family: "Montserrat", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 511px;
  height: 174px;
}
.links {
  display: flex;
  gap: 47px;
  align-items: center;
}

.header img {
  width: 180px;
}
.help-btn {
  background-color: #75bf7a;
  color: white;
  border-radius: 5.95px;
  font-size: 22px;
  font-weight: 600;
  border: none;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
}
a {
  text-decoration: none;
  color: black;
  font-size: 17.16px;
  font-weight: 500;
}
.hero {
  display: flex;
  justify-content: space-around;
  gap: 110px;
}
.section1 {
  width: 50%;
}
.section2 {
  width: 50%;
}
.section2 img {
  width: 553px;
  height: 582.81298828125px;
}
.section1 h1 {
  font-weight: 800;
  font-size: 60.73px;
}
.section1 p {
  color: #9e9da2;
  font-weight: 500;
  font-size: 24px;
}
.section1-btn {
  display: flex;
  justify-content: space-between;
}
.play-store,
.app-store {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 62px;
  width: 260px;
  background-color: black;
  color: white;
  font-weight: 800;
  font-size: 24.6px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 4.39px;
}
.play-store img,
.app-store img {
  width: 45px;
  height: 41px;
}
.feedback-box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 122px;
  width: 1280px;
  height: 166px;
  border-radius: 10px;
  background-color: #75bf7a;
  position: relative;
  top: 86px;
  padding-left: 32px;
  padding-right: 32px;
}
.phone-btns {
  display: flex;
  justify-content: space-between;
  gap: 11px;
}
.phone-btn1 {
  width: 499px;
  height: 67px;
  color: #dadada;
  background-color: #ffffff;
  border: none;
  font-weight: 600;
  font-size: 20px;
  border-radius: 4.39px;
}
.phone-btn2 {
  width: 260px;
  height: 67px;
  font-weight: 800;
  font-size: 22px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 4.39px;
}
.feedback-box p {
  color: #ffffff;
  font-size: 24.6px;
  font-weight: 600;
  margin-left: 72px;
  margin-bottom: 55px;
  margin-top: 55px;
}

.work {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  top: 100px;
}
.tere-work {
  font-weight: 800;
  font-size: 46.39px;
  color: black;
}
span {
  color: #75bf7a;
}
.tere-work-p {
  text-align: center;
  width: 620px;
  height: 96px;
  font-weight: 500;
  font-size: 23px;
  color: #9e9da2;
}
.features {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1000px;
  position: relative;
  bottom: 100px;
  column-gap: 35px;
}

.design{
  width:60.81920623779297px;
  height:60.81920623779297px;
  border:0.54px;
  color:#75BF7A;
}
.features-column1{
  
  display: flex;
  flex-direction: column;
  text-align: right;
  width:290px;
  row-gap: 22px;

}
.design1{
  width:14px;
  height:38px;
  font-weight: 800;
  font-size: 34.11px;
  position: absolute;
  right:22px;
  top:10px;

}
.design3{
  width:19px;
  height:38px;
  font-weight: 800;
  font-size: 34.11px;
  position: absolute;
  right:22px;
  top:10px;

}
.column1-div1{
  display: flex;
  flex-direction: column;
  align-items: end;

}
.column1-div2{
  display: flex;
  flex-direction: column;
  align-items: end;
}
.column1-div2 div{
  position: relative;
}
.column1-div1 div{
  position: relative;
}
.features-column1 div p{
 width: 290px;
 font-weight: 500;
 font-size: 20px;
 color: #9E9DA2;
}
.features-column1 h2{
 font-weight: 800;
 font-size: 22px;
}
.circle {
  width: 400px;
  height: 400px;
  background-color: #75bf7a;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-content: center;
}
.circle img {
  width: 278.9818115234375px;
  height: 560px;
  position: relative;
  bottom: 50px;
}

.features-column3{
  text-align: left;
  display: flex;
  flex-direction: column;
  width:280px;
  row-gap: 22px;

}
.design2{
  width:19px;
  height: 38px;
  font-weight: 800;
  font-size: 34.11px;
  position: absolute;
  right:22px;
  top:9px;
}
.design4{
  width: 20px;
  height: 38px;
  font-weight: 800;
  font-size: 34.11px;
  position: absolute;
  right:23px;
  top:9px;
}
.features-column3 div p{
 width: 290px;
 font-weight: 500;
 font-size: 20px;
 color: #9E9DA2;
}
.features-column3 h2{
 font-weight: 800;
 font-size: 22px;
}
.column3-div1 {
 position: relative;
 bottom:38px;
}
.column3-div2{
  position: relative;
  bottom:15px;
}
.column3-div1{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.column3-div2{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.column3-div1 div{
  position: relative;
}
.column3-div2 div{
  position: relative;
}
